<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settingsFile>
<general>
	<companyName>My Project</companyName>
	<address>My Store</address>
        <town>Awsome Town</town>
	<postCode>AT1 2MY</postCode>
	<tel>012345672345</tel>
	<vat>123456789</vat>
	<e-mail>admin@example.co.uk</e-mail>
	<web>www.example.co.uk</web>
	<footNoteone>Thank You</footNoteone>
	<footNote2>FOR SHOPPING</footNote2>
	<footNote3>WITH US</footNote3>


	<url>jdbc:mysql://localhost:3306/myepos</url>
	<user>myadmin</user>
	<password>mypassword</password>
	<databaseName>myepos</databaseName>
	<port>:3306/</port>
	<mainSrvB1>152</mainSrvB1>
	<mainSrvB2>148</mainSrvB2>
	<mainSrvB3>785</mainSrvB3>
	<mainSrvB4>856</mainSrvB4>
	<mainSrvPort>8569</mainSrvPort>
	<mainSrvAdd>jdbc:mysql://localhost:3306/develop</mainSrvAdd>
	<tillNumber>1</tillNumber>


	<printer>Star TSP(100) Cutter</printer>
	<custDispCOM>true</custDispCOM>
	<COMPort>COM7</COMPort>
	<custDispUSB>false</custDispUSB>
	<USBPort>1</USBPort>
	<cashDrawer>CashDrawer</cashDrawer>
	<weightScale>2</weightScale>
	<printerCOM>1</printerCOM>
	<lineDisp>Next Customer Please</lineDisp>
        <lineDisp2></lineDisp2>
<currentVersion>1.22452</currentVersion>

</general>

</settingsFile>