<?xml version="1.0" encoding="UTF-8"?>
<!-- Blanks not allowed -->
<settingsFile>
<general>
        <!-- Basic Settings -->
	<companyName>My Project</companyName>
	<address>My Store</address>
        <town>Awsome Town</town>
	<postCode>AT1 2MY</postCode>
	<tel>012345672345</tel>
	<vat>123456789</vat>
	<e-mail>admin@example.co.uk</e-mail>
	<web>www.example.co.uk</web>
	<footNoteone>Thank You</footNoteone>
	<footNote2>FOR SHOPPING</footNote2>
	<footNote3>WITH US</footNote3>


        <!-- Database Settings -->
	<url>jdbc:mysql://domain.local:3306/myepos</url>
	<user>myadmin</user>
	<password>mysecretpassword</password>
    <!--Backup Database Settings-->
    <backupurl>jdbc:mysql://domain.backup:3306/myepos</backupurl>
	<backupuser>myadmin</backupuser>
	<backuppassword>mysecretpassword</backuppassword>
        
	<!-- The Socket Server configurations -->
        <socketserver>localhost</socketserver>
        <socketport>5555</socketport>
	<tillNumber>1</tillNumber>


	<!-- Peripheral settings -->
        <!-- FIXME -->
        <printer>Star TSP100 Cutter (TSP143)1</printer>
	<custDispCOM>true</custDispCOM>
	<COMPort>COM1</COMPort>
	<custDispUSB>false</custDispUSB>
	<cashDrawer>CashDrawer</cashDrawer>
	<weightScale>2</weightScale>
	<printerCOM>1</printerCOM>
	<lineDisp>Next Customer Please</lineDisp>
        <lineDisp2>                    </lineDisp2>
        <cashDrawerType>0</cashDrawerType><!-- 1 is Bash 2 is Star tsp -->
<currentVersion>2.22</currentVersion>
<updateURL>http://domain.local/somewhere</updateURL>
<TestMode>0</TestMode><!-- A Flag so that we can handle this properly -->

</general>

</settingsFile>
